.container {
  text-align: left; 
  padding: 50px;
  margin: auto;
  background: rgba(0, 0, 0, 0.40);
}

body {
  background: #000 url("/img/background.jpg") no-repeat fixed center;
  background-size: cover;
}

